<head>  
   <title>Chat room </title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="/socket.io/socket.io.js"></script>
   <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
   <script>
   var socket = io.connect();
   
	
	socket.on('connect', function(){
	
		while(true){
			var abc=prompt("What's your name?");
			if(abc=="" ||  abc ==null){
				alert("Để trống ah ????");
			}else{
				socket.emit('adduser', abc);
				break;
			}
		}
			
	});
	
	socket.on('updatechat', function (username, data) {
			$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
	});
	socket.on('updatechat-image', function (username, data) {
			$('#conversation').append('<b>'+username + ':</b> ' + '<img src="'+data+' "/>' + '<br>');
	});
	socket.on('updatechat-banner', function (username, data) {
			$('#conversation').append('<b>'+username + ':</b> ' + '<iframe frameborder="0" scrolling="no" width="400" height="300" src="'+data+' "/>' + '<br>');
	});
	socket.on('updatechat-icon', function (username, data) {
			$('#conversation').append('<b>'+username + ':</b> ' + '<img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xta1/t39.1997-6/p34x34/10173506_548543278592450_105642421_n.png">' + '<br>');
	});
  
	socket.on('updateusers', function(data) {
		$('#users').empty();
		$.each(data, function(key, value) { console.log(value);
			$('#users').append('<div>' + key + '</div>');
		});
	});
	$(function(){
		$('#datasend').click( function() {
			var message = $('#data').val();
			$('#data').val('');
			if(message==""){
				alert("Để trống ah ????");
				socket.emit('null-data',alert("Để trống ah ????"));
			}else{
				socket.emit('sendchat', message);
			};
		});
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
	});
	$(function(){
		$('#imagesend').click( function() {
			var url = $('#data').val();
			$('#data').val('');
			if(url==""){
				alert("Để trống ah ????");
			}else{
				socket.emit('sendimage', url);
			};
		});
	});
	$(function(){
		$('#bannersend').click( function() {
			var url = $('#data').val();
			$('#data').val('');
			if(url==""){
				alert("Để trống ah ????");
			}else{
			socket.emit('sendbanner', url);
			};
		});
	});
	$(function(){
		$('#dog').click( function() {
			var url = $('#data').val();
			$('#data').val('');
			socket.emit('dog-icon', data);
		});
	});
	
	
   </script>
 </head>  

 <body>  
	<H1>CHAT LIVE DEMO</H1>
	<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
		<b>USERS</b>
		<div id="count"></div>
		<div id="users"></div>
	</div>
	<div style="float:left;width:500px; height:500px;overflow:scroll-y;padding:10px;">
		<div id="conversation"></div>
		<input id="data" style="width:200px;" />
		<input type="button" id="datasend" value="send" />
		<input type="button" id="imagesend" value="send-url-image" />
		<input type="button" id="bannersend" value="send-banner" />
		<input type="button" id="dog" value="~" />
	</div>
	<div style="float:left;width:500px;border-left:1px solid black; height:300px;padding:10px;overflow:scroll-y;">
		<input type="button" id="creat" value="Creat-object" />
		<div id="area"></div>
	</div>
 </body>
